/* ######################## COMMON LAYOUT###################### */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Play:wght@400;700&display=swap');
.pc{position: relative;width: 100%; height: 100vh; overflow: hidden;}
.pc .main{position: absolute;left:0;top:0;width: 100%; transition: all 0.5s ease-in-out;}
.main_page section{width: 100%; height: 100vh;}
.main_page{overflow: hidden;}
/* ######################## COMMON ############################ */
body{font-family: 'Play','Noto Sans KR', sans-serif; font-weight: 400; line-height: 1; color:#fff; font-size: 16px; min-width: 360px;}
body.hidden{overflow: hidden;}
a{color:#fff;}
.inner{max-width:1600px; margin: 0 auto; box-sizing: border-box;}

/* //애니메이트 효과(1220px 이하에서는 animate 삭제) */
.animate{overflow: hidden;}
.animate b{display: inline-block; transform: translateY(80px); opacity: 0;}

.animate.motion b{
    animation: mainAni 0.6s 0.2s ease-in-out forwards;
}
.animate.ani_cover{position: relative;}
.animate.ani_cover::before{content: ''; position: absolute; left:0; top:0; width: 100%; height: 100%; background-color: #fff; z-index: 10; }
.animate.ani_cover.motion::before{animation: coverAni 1s forwards;}
.animate.ani_width.motion{animation: coverWitdhAni 1s 0.2s forwards;}
/* 햄버거 메뉴 */
.trigger{position: absolute; width: 18px; height: 12px; top:50%; left:50%; transform: translate(-50%,-50%); cursor: pointer;}
.trigger>span{position: absolute; width: 100%; height: 2px; background-color: #fff; transition: all 0.5s;}
.trigger>span:nth-child(1){top:0;}
.trigger>span:nth-child(2){top:50%;}
.trigger>span:nth-child(3){top:100%;}

.trigger.on>span{background-color: #222;}
.trigger.on>span:nth-child(1){top:50%; transform: rotate(-45deg);}
.trigger.on>span:nth-child(2){opacity: 0;}
.trigger.on>span:nth-child(3){top:50%; transform: rotate(45deg);}

@keyframes mainAni{
    0%{opacity: 0; transform: translateY(50px);}
    100%{opacity: 1; transform: translateY(0);}
}

@keyframes coverAni{
    0%{left:0;width: 100%;}
    100%{left:100%;width: 0;}
}
@keyframes coverWitdhAni{
    0%{width:0;}
}

.tit b{font-weight: bold; color:#222; font-size: 38px;}
.tit.white b{color:#fff;}
.menu_list{width: 100%;}
.menu_list>li{width: 100%;}
.menu_list>li>a{position: relative; display: block; height: 50px; line-height: 50px; color:#222; border-bottom: 1px solid #e5e5e5;}
.menu_list.white>li>a{color:#fff; border-color: rgba(255, 255, 255, 0.247);}
.menu_list>li>a::after{content: '\f105'; position: absolute; font-size: 14px; font-family: fontawesome; right: 5px; top:50%; transform: translateY(-50%); transition: all 0.5s;}
.menu_list.white>li>a::after{color:rgba(255, 255, 255, 0.527);}
.menu_list>li:hover>a::after{color:#ed1c24;}
.menu_list.white>li:hover>a::after{color:#fff;}
.menu_list>li>a::before{content: ''; position: absolute; left:0; bottom:-1px; height: 1px; width:0; background-color: #ed1c24;transition: all 0.5s;}
.menu_list.white>li>a::before{background-color: #fff;}
.menu_list>li:hover>a::before{width: 100%;}
.menu_list>li:hover>a{color:#ed1c24;}
.menu_list.white>li:hover>a{color:#fff;}

.tit_info.black h3 b{color:#222;}
.tit_info h3{margin-bottom: 24px;}
.tit_info h3{font-size: 38px;}
.tit_info h3 b{font-weight: bold;}
.tit_info p b{ color:#888; letter-spacing: -0.5px;}
/* ######################## MAIN:navi_bar ###################### */
.navi_btns{position: fixed; z-index: 150; left:49px; top:42%;}
.navi_btns>li>a{position: relative; display: block; width: 4px; height: 4px; background-color: #d5d5d5; border-radius: 50%; margin-bottom: 33px;}
.navi_btns>li>a::before{content: ''; position: absolute; left:50%; top:50%; transform: translate(-50%,-50%); width: 16px; height: 16px; border-radius: 50%;  border: 1px solid transparent;}
.navi_btns>li>a::after{content:attr(title); position: absolute; left:15px; top:50%; transform: translateY(-50%); width: 150px;background-color:#222; font-size: 15px; padding: 3px 0; opacity: 0; visibility: hidden;}
.navi_btns>li.active>a{background-color: #fff;}
.navi_btns>li.active>a::before{border-color: #fff;}
.navi_btns>li.white.active>a{background-color: #585858;}
.navi_btns>li.white.active>a::before{border-color: #585858;}

.navi_btns>li>a:focus::after{animation: skipAni 2s forwards; }

@keyframes skipAni{
    70%{opacity: 1; visibility: visible;}
    100%{opacity: 0; visibility: hidden;}
}



/* ######################## SECTION:header ###################### */
header{position: absolute; left:0; top:0; width: 100%; height:100px; z-index: 100; transition:background-color 0.5s; }
header>.inner{display: flex; width: 100%; max-width:none; padding: 0 0 0 40px;}
header a{display: block;}
header .left_menu{display: flex; height: 100px; overflow: hidden;}
header .left_menu h2{margin-right: 66px;}
header .left_menu h2 .mobile{display: none;}
header .left_menu h2>a,
header .left_menu .gnb>li>a{line-height: 100px; font-weight: bold;}
header .left_menu .gnb>li>a{padding: 0 30px; font-size: 18px;}
header .left_menu .gnb{display: flex;}
header .left_menu .gnb .sub_con{display: none; overflow: hidden; position: absolute; left:0; top:100px; width: 100%; background-color: #f5f5f5; height: 250px;}
header .left_menu .gnb .inner{width: 1200px; margin:0 auto; padding:40px 0;  overflow: hidden;}
header .left_menu .gnb .depth2{float: left;width: 600px; padding: 12px 0;}
header .left_menu .gnb .depth2.company>li{width: 33.3333%;}
header .left_menu .gnb .depth2>li{float: left; width: 50%; padding-right: 20px; box-sizing: border-box;}
header .left_menu .gnb .depth2>li>a{position: relative; height: 49px; line-height: 49px; border-bottom: 1px solid #e5e5e5; font-size: 15px; color:#929292;}
header .left_menu .gnb .depth2>li>a::after{content: '\f105'; position: absolute;  font-family:fontawesome; right: 20px; top:50%; transform: translateY(-50%); transition: all 0.5s;}
header .left_menu .gnb .depth2>li>a::before{content: ''; position: absolute; left:0; bottom:0; width: 0; height: 1px; background-color: #ed1c24; transition: width 0.7s;}
header .left_menu .gnb .sub_des{float: right; width: 511px; height: 170px; }
header .left_menu .gnb .sub_des>div{float: left; width: 50%; height: 100%;}
header .left_menu .gnb .sub_des .txt{background-color: #fff; box-sizing: border-box; padding: 40px 30px;}
header .left_menu .gnb .sub_des .txt h3{font-size: 32px; color:#222; line-height: 50px;}
header .left_menu .gnb .sub_des .txt p{color:#aeaeae; line-height: 20px; font-size: 12px;}
header .left_menu .gnb .sub_des .photo{overflow: hidden;}
header .left_menu .gnb .sub_des .photo img{width: 100%;}
header .right_menu{ z-index: 100; margin-left: auto; padding-top: 35px;}
header .right_menu>div{ float: left;}
header .right_menu .fam{margin-right: 10px; background-color: #fff;}
header .right_menu .lang {margin-right: 100px;}
header .right_menu h2>a::after{content: '\f0dd'; position: absolute; right: 10px; top:-2px; font-family: fontawesome; }
header .right_menu .fam h2>a,
header .right_menu .lang h2>a{position: relative; display: block; height: 30px; line-height: 30px; font-size: 12px; box-sizing: border-box;}
header .right_menu .fam h2>a{width: 110px; padding: 0 12px;  color:#222;}
header .right_menu .lang h2>a{width: 70px; padding: 0 11px; border: 1px solid #fff;}
header .right_menu .list{display: none; font-size: 12px; width: 100%; box-sizing: border-box;}
header .right_menu .list li{padding: 0 12px;}
header .right_menu .lang .list{border: 1px solid #fff; border-top-color:transparent; box-sizing: border-box;}
header .right_menu .list a{height: 30px; line-height: 30px; font-weight: bold;}
header .right_menu .fam .list a{color:#222;}
.trigger_menu{position: absolute; right: 0; top:0; width: 90px; height: 100px; z-index:9999; }
.mobile_lang{display: none;}
/* header pc 메뉴 */
.pc_trigger_menu{position: fixed; opacity: 0; visibility: hidden; left:0; top:0; width: 100%; height:100vh; background-color:#fff; z-index: 200; padding-right: 160px; box-sizing: border-box; transition:all 0.5s; }
.pc_trigger_menu .bg{ transition: all ease-in-out 0.7s; overflow: hidden; transform: translateX(-500px); opacity: 0;}
.pc_trigger_menu>ul>li{position: relative; overflow: hidden; float: left; width:16.6666%; height:100vh; border-right: 1px solid #ddd; box-sizing: border-box;}
.pc_trigger_menu>ul>li::after{content: ''; position: absolute; left:0;width:0; top:0; height: 100%; background-color: #222; z-index: 1;animation: pcClose 0.5s forwards;}
.pc_trigger_menu>ul>li h2{ color:#222; font-size: 17px; padding: 76px 44px 40px; }
.pc_trigger_menu>ul .pc_depth2>li>a{position: relative; display: block; height: 58px; line-height: 58px; color:#777; font-size: 15px; padding-left: 44px; box-sizing: border-box; transition: color 0.2s;}
.pc_trigger_menu>ul .pc_depth2>li>a::before{content: ''; position: absolute; left:0; top:0; width:0; height: 100%; background-color: #ed1c24; transition: width 0.5s; z-index: -1;}
.banner{position: relative; height: 100%;}
.banner .inner{position: relative; height: 100%;}
.banner .swiper-container{position: relative; height: 100%;  width: 100%; z-index: 10;}
.banner .swiper-slide{position: relative; height:100%; width: 100vw !important;}
.banner .swiper-slide .bg{position: absolute; left:0; top:0; width: 100%; height: 100%; z-index: -1;}
.banner .swiper-slide .bg img{position: absolute; left:0; top:0; width: 100%; height: 100%;}
.banner .swiper-slide .bg .m_bg{display: none;}
.banner .swiper-slide .main_con{position: absolute; left:0; top:50%; transform: translateY(-50%); width: 100%; }
.banner .swiper-slide .main_con h2{font-size:55px; line-height: 60px; font-weight: 700; padding-bottom: 28px; overflow: hidden; letter-spacing: -0.5px;}
.banner .main_con b{opacity: 0; transform: translateY(50px);}
.banner .swiper-slide .main_con h2 b{font-weight: 700;}
.banner .swiper-slide .main_con b{display: inline-block; opacity: 0; transform: translateY(50deg);}
.banner .swiper-slide .main_con p{font-size: 18px; line-height: 30px; letter-spacing: -0.5px;}

/* CUSTOM SLIDE */
.controls {position: absolute; left:0; bottom:67px; width: 100%; height: 26px; line-height: 26px; z-index: 10;}
.controls .swiper-button-next:after,
.controls .swiper-button-prev:after{display: none;}
.controls .swiper-button-next,
.controls .swiper-button-prev{width:auto; height: auto;}
.controls .inner>div{float: left;}
.controls ul{float: right;}
.controls .arrows{margin: 0 31px 0 16px;}
.controls .arrows .prev{margin-right: 36px;}
.controls .arrows>*{display: inline-block;}
.controls .arrows .fas{font-size: 22px; }
 .swiper-pagination-fraction{width: auto; font-size: 13px ; }
 .swiper-pagination-fraction span{margin: 0 10px;}
.controls .play-btn{margin: 0 80px 0 20px;}
.controls .play-btn .fas{ font-size: 15px;}
.banner .controls .loading{position: absolute; bottom:0; right:104px; left:455px;}
.banner .controls .loading li{float: left; width: 24%; margin: 0 0.5%;}
.banner .controls .loading li:first-child{margin-left: 0;}
.banner .controls .loading li a{display: block;  font-size: 20px; line-height:20px;}
.banner .controls .loading li a em{font-size: 13px; color:rgba(255, 255, 255, 0.5); margin-left: 10px;}
.banner .controls .loading li span{position: relative; display: block; width: 100%; height: 1px; background-color: rgba(255, 255, 255, 0.445); margin: 15px 0  9px;}
.banner .controls .loading li span::before{content: ''; position: absolute;  width: 0; height:2px; left:0; top:0; background-color:#fff;}
.banner .scroll_down{position: absolute; left:43px; bottom:60px; z-index: 10;letter-spacing: 2px; text-transform: uppercase;} 
.banner .scroll_down img{position: relative; left:50%; transform: translateX(-50%);}
.banner .scroll_down p{position: relative; width: 13px; height: 25px; border: 2px solid #fff; border-radius: 13px; margin-top: 10px; box-sizing: border-box;}
.banner .scroll_down p::before{content: '';position: absolute; width: 3px; height: 3px; background-color: #fff; left:50%; transform: translateX(-50%); margin-top: 30%; opacity: 1; animation: scrollAni 1.2s infinite;}



/* active */
header.active{background-color: #fff;}
header .left_menu .gnb.on{height: 100vh;}
header.active .gnb>li>a{color:#222;}
header .left_menu .gnb>li.over>a,
header .left_menu .gnb>li:hover>a,
header .left_menu .gnb .depth2>li>a:hover{color:#ed1c24;}
header .left_menu .gnb .depth2>li>a:hover::after{color:#ed1c24;}
header .left_menu .gnb .depth2>li>a:hover::before{width: 100%;}
header .left_menu .gnb>li.active .sub_con{display: block;}
header .right_menu.on .lang h2>a{color:#fff;}
header .right_menu .fam.active h2>a::after,
header .right_menu .lang.active h2>a::after{content: '\f0d8';}
header .right_menu .fam.over,
header .right_menu .lang.active{background-color: #222;}
header .right_menu .lang.active .list>li:hover{background-color: #444;}
header .right_menu .fam.over h2>a{color:#fff;}
header .right_menu .lang.over{background-color: #ddd;}
header .right_menu .lang.over h2>a{color:#222;}
.pc_trigger_menu.open{opacity: 1; visibility: visible;}
.pc_trigger_menu.open .bg{opacity: 1; transform: translateX(0);}
.pc_trigger_menu.open>ul>li::after{animation: pcOpen 0.7s 0.3s forwards;}
.pc_trigger_menu.close{opacity: 0; visibility: hidden; transition-delay:0.5s;}
.pc_trigger_menu>ul>li:hover h2{color:#ed1c24;}
.pc_trigger_menu>ul .pc_depth2>li>a:hover{color:#fff;}
.pc_trigger_menu>ul .pc_depth2>li>a:hover::before{width: 100%;}
.mobile_lang{display: none;}
.banner .swiper-slide-active {opacity: 1 !important;} 
.banner .swiper-slide-active .main_con b{animation: mainAni 0.8s 0.2s ease-in-out forwards;}
.banner .swiper-slide-active .main_con p>b{animation-delay: 0.5s;}
.banner .controls .loading li.active span::before{ animation: loading 6.2s forwards;}

@keyframes loading{
    0%{width: 0;}
    100%{width:100%;}
}
@keyframes scrollAni{
    0%{margin-top: 30%; opacity: 1;}
    100%{margin-top:140%; opacity: 0;}
}
@keyframes pcOpen{
    0%{width: 100%; left:0;}
    100%{width: 0; left:100%;}
}
@keyframes pcClose{
    0%{left:100%; width:0;}
    100%{width:100%; left:0;}
}


/* 1650px */
@media all and (max-width:1650px){
    .inner{ padding: 0 65px; width: 100%;}
    header .left_menu .gnb>li>a{padding:0 20px;}
    .banner .controls .loading{left: 22%; right: 2%;}
    
}
/* 1370px */
@media all and (max-width:1370px){
    header>.inner{padding: 0;}
    header .left_menu h2{margin: 0 30px;}
    
}
/* ######################## SECTION:global ###################### */
.global>div{float: left; width: 50%; height: 100vh;}
.global .left_con{position: relative;}
.global .left_con .global_slide{height: 100%; width: 100%;}
.global .left_con .global_slide .bg_con{position: relative; width: 100%; height: 100vh; overflow: hidden;}
.global .left_con .global_slide .bg_con img{position: absolute; left:50%; top:50%; transform: translate(-50%,-50%); width: 100%; height: 100%;}
.global .right_con .info>div{position: relative; float:left; width: 50%; height: 50vh;}
.global .right_con .con_inner{padding: 72px 20.208% 0; box-sizing: border-box;}
.global .right_con .con_inner .tit{margin-bottom: 30px;}
.global .right_con .info .ir{background-color: #ed1c24;}
.global .right_con .driving{position: relative;overflow: hidden;  height: 50vh;} 
.global .right_con .driving img{position: absolute; left:0; top:0; width: 100%; height: 100%; transition: transform 0.5s;}
.global .tit_info{position: absolute; left:99px; bottom:110px; z-index: 1;}
.global .tit_info h3{margin-bottom: 34px;}
.global .tit_info p b{color:rgba(255, 255, 255, 0.479);}

/* active */
.global .right_con .driving img:hover{transform: scale(1.1);}
/* ######################## SECTION:inform ###################### */
.inform{position: relative; text-align: center; color:#222;}
.inform>.tit_info{position: absolute;  width: 100%; text-align: center; padding-top: 74px;}
.des{padding: 0 100px;}
.inform .info_con{position: relative; display: flex; height: 100vh;}
.inform .info_con>li{flex:1; border-right: 1px solid #eee; padding-top: 280px;}
.inform.info_con>li:first-child{border-left: 1px solid #eee;}
.inform .info_con>li>span{display: block; padding-top: 58px; background-image: url(../images/info_ico01.jpg); background-repeat: no-repeat; background-position: center top;}
.inform .info_con>li:nth-child(2)>span{background-image: url(../images/info_ico02.jpg);}
.inform .info_con>li:nth-child(3)>span{background-image: url(../images/info_ico03.jpg);}
.inform .info_con>li:nth-child(4)>span{background-image: url(../images/info_ico04.jpg);}
.inform .info_con>li span{font-size: 17px;}
.inform .info_con>li .num{font-size: 58px; line-height: 58px; font-weight: bold; padding: 70px 0 30px;} 
.inform .info_con>li .sub p{line-height: 30px; font-size: 15px; color:#8d8d8d; letter-spacing: -0.5px;}
.inform .info_con>li .sub p span{font-weight: bold; font-size: 15px;}
.inform .inquiry{position: absolute;left:0; bottom:70px; padding: 0 100px; box-sizing: border-box; width: 100%; height: 200px; display: flex;}
.inform .inquiry>a{position: relative; width: 50%; overflow: hidden;}
.inform .inquiry img{display: block; width: 100%; height: 100%; transition: transform 0.5s;}
.inform .inquiry .tit_info{position: absolute; left:50px; top:50%; transform: translateY(-50%); text-align: left;}
.inform .inquiry .tit_info h3{font-size: 32px;}
.inform .inquiry .tit_info p{font-size: 15px; color:rgba(255, 255, 255, 0.541);}
.inform .inquiry .qna .tit_info h3{color:#222;}
.inform .inquiry .qna .tit_info p{color:rgba(34, 34, 34, 0.596);}

/* active */
.inform .inquiry>a:hover img{transform: scale(1.1);}

/* ######################## SECTION:public###################### */
.public{position: relative; background: url(../images/main_news_img.jpg) no-repeat; background-size: cover;  z-index: 1;}
.pub_bg{position: absolute; left:0; top:0; width: 450px; height:100%; background-color:#1e3d4fc4; z-index: -1;}
.pub_inner{ padding-left: 100px; box-sizing: border-box;}
.public .tit_info{padding: 125px 0 72px;}
.public .tit_info p{color:#fff;}
.public .news_slides{width: 100%;}
.public .news_slides .swiper-slide{position: relative;  height: 380px;}
.public .news_slides .swiper-slide>a{display: block; width: 100%; height: 100%; background-color: #fff;}
.public .news_slides .swiper-slide>a.animate{position: absolute; left:0; top:0; width: 100%; height: 100%; background-color: #fff; clip: rect(0,100px,380px,0);}
.public .news{position: relative; padding: 16.84% 9.8% 0;  height: 100%; box-sizing: border-box; letter-spacing: -0.5px;} 
.public .news_tit{line-height: 39px; font-size: 30px; overflow: hidden;  color:#222; font-weight: normal; margin-bottom: 22px; }
.public .news_tit p{white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.public .news>p{line-height: 29px; color:#888;}
.public .news span{position: absolute; left:49px; bottom:68px; font-size: 14px; color:#b7b7b7; font-weight: bold;}
.public .controls{position: static; padding-top: 131px;}
.controls .arrows{margin: 0;}
.public .controls .inner{max-width: none;}

/* active */
.public .news_slides .swiper-slide>a.motion{animation: clipAni 1.5s forwards;}

/* ######################## SECTION:who ###################### */
.who{position: relative; padding-top: 220px; box-sizing: border-box;}
.who_bg{position: absolute; right: 0; top:0; background-color: #e2ecd9; height: 100%; width: 450px;}
.who .des{position: relative; margin:0 100px; padding: 0;}
.who .left_con .tit_info h3{font-size: 78px;} 
.who .left_con .menu_list{max-width: 252px; margin-top: 70px;}
.who .left_con .menu_list a{color:#888; height: 60px; line-height: 60px;}
.who .left_con .recruit{display:inline-block;  margin-top: 75px; height: 64px; line-height: 64px; padding:0 94px 0 27px; background: #222 url(../images/ico_down.jpg) no-repeat right 20px center;}
.who .rgiht_con{position: absolute; left:50.2%; top:0; max-width: 857px; right: 0;}
.who .rgiht_con .pic{position: relative; width: 100%; height: 490px;}
.who .rgiht_con img{position: absolute; left:0; top:0; width: 100%;height: 100%; }

.who .rgiht_con .pic.motion img{animation: clipAni 1.5s forwards;}
@keyframes clipAni{
    0%{clip: rect(0,100px,490px,0);}
    100%{clip: rect(0,700px,490px,0);}
}
/* ######################## FOOTER ###################### */
.footer{position: relative; border-top: 1px solid #e5e5e5; color:#b0b0b0; margin: 0 100px;}
.footer a{color:inherit;}
.footer .f_top{height: 100px; line-height: 100px; border-bottom: 1px solid #e5e5e5; overflow: hidden;}
.footer .f_top .fnb{float: left;font-size: 0; width: 50%;}
.footer .f_top>div{float: right; width: 230px; height: 100px; text-align: right;}
.footer .f_top .fnb li{display: inline-block; margin-right: 42px;}
.footer .f_top .fnb li b{color:#787878;}
.footer .f_top .fnb li a{font-size: 13px;}
.footer .f_bom{height: 115px; line-height:115px; overflow: hidden;}
.footer .f_bom>ul{float: left; font-size: 0;} 
.footer .f_bom>ul li{display: inline-block; font-size: 14px; margin-right: 18px;}
.footer .f_bom>ul li span{color:#787878; margin-right: 18px;}
.footer .f_bom .copy{float: right; font-size: 13px;} 
.footer .f_bom .copy b{color:#ed1c24; font-weight: bold;}
.goTopBtn{position: absolute; right: -10px; bottom:-200px; width: 46px; height: 46px; background-color: #ed1c24; text-align: center; line-height: 46px; opacity: 0; visibility: hidden; transition:all 0.3s;}
.goTopBtn .fas{color:#fff;}

/* ######################## SUB COMMON###################### */
/* 서브페이지 버튼 공통요소 */
.content .btn{display: inline-block; height: 57px; line-height: 57px; padding: 0 110px; color:#fff; background-color: #222; font-size: 16px; border:none;}
.content .btn.btn_red{background-color: #ed1c24;}
.sub_goTopBtn{position: fixed; right: 12px; bottom:-100px; width: 46px; height: 46px; background-color: #ed1c24; text-align: center; line-height: 46px; transition:all 0.3s; opacity: 0; visibility: hidden;}
.sub_goTopBtn .fas{color:#fff;}
.sub_goTopBtn.fix{opacity: 1; visibility: visible; bottom:12px;}
.sub_pg .pc{height: auto;}
.sub_pg .pc .main{position: static;}
.sub_pg  .tit_info{position: absolute; left:50%; top:257px; transform: translateX(-50%); text-align: center; z-index: 10; width: 100%;} 
.sub_pg  .tit_info p b{display: inline-block; font-weight: bold; letter-spacing: 0.5px; color:#fff; line-height: 28px; font-size: 13px; border-bottom: 1px solid #fff;}
.sub_pg  .tit_info h3{margin-top: 15px; }
.sub_pg  .tit_info h3 b{font-size: 50px;}
.sub_pg .fix header{top:-100px;}
.sub_pg .fix .sub_menu_list{top:0;}
.sub_pg header{position: fixed; top:0; background-color: #fff; transition: top 0.5s, backgroun-color 0.5s;}
.sub_pg header.active::after{content: ''; position: absolute; width: 100%; height: 1px; background-color: #e5e5e5;}
.sub_pg header .gnb>li>a{color:#222;}
.sub_pg header .fam{background-color: #222;}
.sub_pg  header .fam .list a{color:#fff;}
.sub_pg header .lang {background-color: #ddd;}
.sub_pg header .fam h2>a{color:#fff;}
.sub_pg header .lang h2>a{color:#222;}
.sub_pg header .right_menu .lang .list>li>a{color:#222;}
.sub_pg header .right_menu .fam.active .list>li:hover{background-color: #444;}
.sub_pg header .right_menu.on .lang h2>a{color:#222;}
.sub_pg header .right_menu.on .lang,
.sub_pg header .right_menu .lang.active{background-color: #ddd;}
.sub_pg header .right_menu .lang.active .list>li>a{color:#222;}
.sub_pg header .right_menu .lang.active .list>li:hover{background-color: #ddd;}
.sub_pg .trigger>span{background-color: #222;}
/* 배경 공통 요소 */
.visual .sub_bg{position: relative; height: 650px; width: 100%; margin-top: 100px;  background: url(../images/sub_visual_pr.jpg) no-repeat center; background-size: cover;}
.IR.visual .sub_bg{background-image: url(../images/sub_visual_ir.jpg);}
.ethical.visual .sub_bg{background-image: url(../images/sub_visual_ethical.jpg);}
/* 서브 메뉴 리스트 */
.sub_menu_list{position: fixed; left:0; top:100px; width: 100%;  background-color: #f5f5f5; padding-left: 22px; box-sizing: border-box; border-bottom: 1px solid #e5e5e5; z-index: 40; transition: top 0.5s;border-top: 1px solid #e5e5e5; box-sizing: border-box;}
.sub_menu_list>div{position: relative; float: left; background-color: #f5f5f5; width: 180px;}
.sub_menu_list h3>a{position: relative; color:#222;  height: 48px; line-height: 48px;}
.sub_menu_list h3>a::after{content: '\f0dd'; position: absolute; font-family: fontawesome; right: 16px; top:50%; transform: translateY(-50%);}
.sub_menu_list h3.over>a::after{content: '\f0de';}
.sub_menu_list .home{float: left; padding: 0 21px; box-sizing: border-box; line-height: 50px; height: 50%; height: 48px; line-height: 48px;}
.sub_menu_list .home img{ width: 15px; height: 15px; vertical-align: middle;}
.sub_menu_list a{display: block; height: 40px; line-height: 40px;  color:#222; font-size: 13px; box-sizing: border-box; padding: 0 15px;}
.sub_menu_list ul{position: absolute; background-color: #f5f5f5; left:0; top:48px; width: 100%; display: none; border: 1px solid #e5e5e5; border-top: none; height: auto;}
.sub_menu_list ul>li{width: 100%;}
.sub_menu_list>div:last-of-type::after,
.sub_menu_list>div:nth-of-type(1)::before,
.sub_menu_list>div:nth-of-type(1)::after{content: ''; position: absolute; width: 1px; height: 20px; background-color:#e5e5e5; top:50%; transform: translateY(-50%);}
.sub_menu_list>div:nth-of-type(1)::before{left:0;}
.sub_menu_list>div:nth-of-type(1)::after{right: 0;}
.sub_menu_list>div:last-of-type::after{left: 0;}
.sub_menu_list ul>li>a{position: relative;}
.sub_menu_list ul>li>a::after{content: '\f054'; position: absolute; font-family: fontawesome; right: 20px; font-size: 10px;}
.sub_menu_list .sub_gnb>li.over>a{color:#ed1c24; font-weight: bold;} 
.visual{position: relative;}
.visual .sub_con_list{position: absolute; width: 100%; height: 80px; left:0; bottom:0; background-color: rgba(0, 0, 0, 0.719); text-align: center; font-size: 0; z-index: 20;}
.visual .sub_con_list h3{display: none;}
.visual .sub_con_list li{position: relative; display: inline-block;}
.visual .sub_con_list li.over{background-color: #fff;}
.visual .sub_con_list li.over>a{color:#222;}
.visual .sub_con_list li>a{display: block; line-height: 80px; height: 80px; font-size: 15px; width: 170px; color:#cccccc;}
.visual .sub_con_list li::after{content: ''; position: absolute; height: 30px; width: 1px; background-color: #332c28; right: -1px; top:50%; transform: translateY(-50%); }
.visual .sub_con_list li:last-child::after{display: none;}
/* select 메뉴 ui */
.ui-button .ui-icon,
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon{background-image: none;}
.content  #category-button{width: 200px; height: 34px;line-height: 34px; padding: 0; background-color: #fff;}
.ui-widget{font-size: 13px;}
/* input 요소 */
.content.promote .notice_info{margin-bottom: 15px;}
.content .search {height: 40px; font-size: 0;}
.content .search #category-button{width: 100px; height: 40px; box-sizing: border-box; vertical-align: top;}
.content .search input[type=text]{height: 100%; vertical-align: top; box-sizing: border-box; border: 1px solid #ccc; width: 250px;}
.content .search  button{position: relative; cursor: pointer; margin-left: -1px; height: 100%; border: none; font-size: 0; width: 40px; background-color: #333;}
.content .search  button::after{content: '\f002'; position: absolute; left:50%; top:50%; transform: translate(-50%,-50%); font-family: fontawesome; font-size: 16px; color:#fff;}
/* tab메뉴 */
.content .tabs{font-size: 0; text-align: center; padding:10px 0 98px;}
.content .tabs>li{display: inline-block; border: 1px solid #e5e5e5; box-sizing: border-box;}
.content .tabs>li:nth-child(2){margin-left: -1px;}
.content .tabs>li>a{display: block; width: 198px; height: 60px; line-height: 60px; color:#222; font-size: 16px;}
.content .tabs>li.over>a{background-color: #222; color:#fff;}
/* ######################## SUB-PR-뉴스###################### */
/* 리스트 영역 */
.content .notice li .num{width: 7%;}
.content .notice li .or{width: 11%;}
.content .notice li .tit{width: 61%; text-align: left; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.content .notice li .date{width: 12%;}
.content .notice li .count{width: 9%;}
.content .notice li:hover{background-color: rgba(221, 221, 221, 0.253);}

.content{color:#666666; padding: 100px 0 130px;}
.content .inner{width: 1200px;  margin: 0 auto; padding: 0;}
.content a{color:#666;}
.content .notice_info>div{float: left;}
.content .notice_info .total{font-size: 14px; text-transform: uppercase; line-height: 36px;}
.content .notice_info .total span{color:#ed1c24; font-weight: bold; margin-left: 3px;}
.content .notice_info>.search{float: right;}
.content .notice_info>.search label{display: none;}
.content  .ui-selectmenu-text{font-size: 13px; color:#666;}
.content .notice{padding: 20px 0 30px; font-size: 15px; color:#666;}
.content .notice .main_head{border-top: 1px solid #333; height: 55px; line-height: 55px; font-weight: bold;}
.content .notice .main_head .tit{text-align: center;}
.content .notice li{overflow: hidden; height: 50px; line-height: 50px; border-bottom: 1px solid #ddd;}
.content .notice li>div{float: left; text-align: center;}
.content .pager{font-size: 0; text-align: center;}
.content .pager>li{display: inline-block; margin: 0 1.5px;}
.content .pager>li>a{display: block; font-size: 12px; background-color:#fff;; width: 32px; height: 32px; border: 1px solid #ddd; box-sizing: border-box; line-height: 32px; }
.content .pager>li.on>a{background-color: #4b4b4b; border-color: #4b4b4b; color:#fff;}
/* ######################## SUB-PR-공지사항###################### */
.content .notice li .writer{width: 11%;}
.content .notice.announce .fas{margin-left: 2px;} 
/* ######################## SUB-PR-홍보갤러리###################### */
.content .gallery{position: relative; padding-left:400px; border: 1px solid #eee; overflow: hidden;}
.content .gallery .video_txt{position: absolute; left:0; top:0; padding:83px 38px 0;}
.content .gallery .video_txt h3{line-height: 35px; font-size: 25px; margin-bottom: 18px; font-weight: normal; color:#222;}
.content .gallery .video_txt p{font-size: 13px; color:#aaa;}
.content .gallery .video{ position: relative; overflow: hidden; width: 100%; padding-top: 56.25%;}
.content .gallery .video iframe{position: absolute; left:0; top:0; right: 0;bottom:0; width: 100%; height: 100%;}
.content .gall_list{padding: 32px 0 30px;}
.content .gall_list li{float: left; position: relative; width: 32%; margin-right: 2%; margin-bottom: 2%;  border: 1px solid #eeeeee; overflow: hidden; box-sizing: border-box;} 
.content .gall_list .main_img{position: relative; padding-top: 65.87%; overflow: hidden;}
.content .gall_list li img{position: absolute; left:0; top:0; width: 100%; height: 100%; transition: transform 0.3s;}
.content .gall_list li:nth-child(3n){margin-right: 0;}
.content .gall_list li .txt{height: 150px; padding: 35px 26px 0;}
.content .gall_list li .txt h4{line-height: 30px; font-weight: normal;font-size: 19px; color:#222; letter-spacing: -0.5px; overflow: hidden;  text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical;-webkit-line-clamp: 2;}
.content .gall_list li .txt .date{position: absolute; left:26px; bottom:21px; font-size: 13px; color:#afafaf;}

/* hover */
.content .gall_list li img:hover{transform: scale(1.1);}
/* ######################## SUB IR COMMON###################### */
/* 테이블 공통 요소 */
.content .tb_tit{position: relative;}
.content .tb_tit p{font-size: 20px; color:#222; font-weight: bold; margin-bottom: 15px; text-align: left;}
.content .tb_tit span{position: absolute; right: 0; top:7px; font-size: 13px;}
.content table thead {background-color: #fafafa;}
.content table thead tr{border-top: 2px solid #000; border-bottom: 1px solid #ddd;}
.content table thead th{height: 55px; color:#222; font-weight: normal; font-size: 16px;}
.content table tbody th{font-weight: normal; font-size: 14px;}
.content table tbody tr{border-bottom: 1px solid #ddd; text-align: center; height: 46px;}
.content table tbody tr td:last-child{border-right: none;}
.content table tbody td{height: 46px; font-size: 14px; color:#666; border: 1px solid #ddd;}
.content table tbody td.center{border: 1px solid #ddd;}
.content table tbody tr.b{background-color: #f2f2f2;}
.content .tb_con{position: relative;}
.content .tb_con .tb_bg{display: none; position: absolute; text-align: center; left:0; top:0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.377); z-index: 5;}
.content .tb_con .tb_bg p{position: relative; top:42%; color:#fff; font-size: 16px;}
.content .tb_con .tb_bg .far{display: block; font-size: 27px; margin-bottom: 10px;}
/* ######################## SUB-IR-결산정보###################### */
.IR_con.content .notice li .file{width: 13%;}
.IR_con.content .notice li .tit{width: 57%;}
.IR_con.content .notice li .file .fas{margin-right: 5px;}
.IR_con.content .notice.book li .tit{width: 68%;}
/* ######################## SUB-IR-재무정보###################### */
.content .financial_tab{font-size: 0; text-align: center; margin-bottom: 100px;}
.content .financial_tab>li{display: inline-block; font-size: 16px; margin: 0 5px;}
.content .financial_tab>li>a{display: block; line-height: 55px; height: 55px; width: 242px; box-sizing: border-box; background-color: #f2f2f2; border: 1px solid #c9c9c9; color:#222;}
.content .financial_tab>li.on>a{background-color:#fff; border-color:#222;}
.content .tb_tit.finan{margin-top: 60px;}
.content .unit{position: relative; bottom:-22px; text-align: right; font-size: 14px;}
.content .financial tbody th,
.content .financial tbody td{font-size: 16px;}
.content .financial tbody td{border: 1px solid #ddd;}
.content .financial tbody tr td:last-of-type{border-right: none;}
.content .tabs.tab1{display: block;}
.content .tabs{display: none;}
/* ######################## SUB-IR-주가정보###################### */
.content.stock .new{text-align: right; margin-bottom: 15px;}
.content.stock .new>a{display: inline-block; font-size: 14px; color:#fff; background-color: #000; padding: 10px 37px; border-radius: 7px;}
.content.stock .tb{margin-bottom: 28px;}
.content.stock table tbody tr th{border: 1px solid #ddd; border-bottom: 1px solid #afafaf; border-top: 1px solid #afafaf;}
.stock table tbody tr th:first-child{border-left:none;}
.stock table tbody tr th:last-child{border-right:none;}
.stock table tbody tr td:first-child{border-left: none;}
.stock .stock_head>.tb{float: left; width: 48.125%; margin-right: 3.75%;}
.stock .stock_head>.tb:last-child{margin-right: 0;}
.stock .stock_head table td,
.stock .stock_head table th{text-align: left; border: 1px solid #ddd;}
.stock .stock_head table tbody td:first-child{border-left: 1px solid #ddd;}
.stock .stock_head table tr th,
.stock .stock_head table tr td{box-sizing: border-box; padding: 0 19px; font-size: 16px; color:#222;}
.stock .stock_head table tbody tr td:last-child{border-right: 1px solid #ddd;}
.stock .stock_head table.tb_main tr{height: 80px; background-color: #f1f1f1;}
.stock .stock_head table.tb_main th{font-size: 23px;} 
.stock .stock_head table.tb_main td{font-size: 19px;} 
.stock .stock_head table.tb_main .date{font-size: 13px;}
.stock .stock_head table.tb_main .last td .txt{position: relative; top:8px;}
.stock .stock_head table tr.center{ height: 130px; background-color: #fff;}
.stock .stock_head table tr.center td{text-align: center;}
.stock .stock_head table tr.center td b{font-size: 54px; font-weight: bold; color:#c70e0e;}
.stock .stock_head table tr.center em{position: relative; bottom:10px; margin-right: 52px; display: inline-block; padding: 9px 16px; border-radius: 7px; font-size: 17px; color:#fff; background-color: #333; line-height: 1;}
.stock .stock_head table tr .right{text-align: right;}
.stock .stock_head table tr td>span,
.stock .stock_head table tr th>span{float: left; width: 50%;}
.stock .stock_head table tr td>span:last-child,
.stock .stock_head table tr th>span:last-child{float: right; text-align: right;}
.stock .stock_head table .tr_haed{border-top: none; border-bottom:none;} 
.stock .stock_head table.tb_top tr{background-color: #f1f1f1;}
.stock .stock_head table.tb_bom td{height: 57px;}
.stock .stock_head table.tb_bom tr:first-child td{border-top:none;} 
.stock .stock_head table .day{font-size: 13px;}
.stock .stock_head .tb_con.right table span:last-child{font-weight: bold;}
.stock table .rank{ font-weight: bold;}
.stock table .rank::before{content: '\f0d8'; display: inline-block; position: relative; top:4px; font-family: fontawesome; font-size: 25px;}
.stock table .up{ color:#e52a2a;}
.stock table .down{color:#5164c8; }
.stock table .down::before{content: '\f0d7';}
.stock .member .rank::before{display: none;}
/* ######################## SUB-윤리경영-COMMON###################### */
/* ######################## SUB-윤리경영-임직원 행동지침###################### */
.content.et_con{padding: 100px 0;}
.et_con .main_haading{position: relative; background: url(../images/employee_top_bg.jpg) no-repeat; background-position:center; background-size: cover; text-align: center; padding: 125px 0;}
.et_con .main_haading::before,
.et_con .main_haading::after{ position: absolute; top:50%; transform: translateY(-50%);}
.et_con .main_haading::before{content: url(../images/employee_top_bg_left.png); left:50px;}
.et_con .main_haading::after{content: url(../images/employee_top_bg_right.png); right: 50px;}
.et_con .main_haading h3{color:#fff; font-size: 40px; line-height: 58px; font-weight: normal;}
.et_con .main_txt{margin-top: 55px;}
.et_con .main_txt h4{color:#222;font-size: 17px; display: inline-block; line-height: 20px; border-bottom: 2px solid #000; margin-bottom: 28px;}
.et_con .main_txt>div{overflow: hidden;}
.et_con .main_txt>div>p,
.et_con .main_txt>div>ul{float: left;}
.et_con .main_txt>div>p{width: 225px; color:#222; line-height: 24px;}
.et_con .main_txt>div>ul{width: 975px; margin-bottom: 36px;}
.et_con .main_txt>div.last>ul{margin-bottom: 0;}
.et_con .main_txt>div>ul>li{position: relative; margin-bottom: 9px; margin-left: 15px;}
.et_con .main_txt>div>ul>li::before{content: '\f0da'; position: absolute; font-family: fontawesome; left:-10px; top:1px; font-size: 17px;}
.et_con .main_txt>div>ul>li>p{line-height: 24px; color:#888;}
/* ######################## SUB-윤리경영-신고서 작성###################### */
.card .main_txt>p{color:#222; margin-bottom: 22px;}
.card .main_txt>p::before{content: '\f00c'; font-family:fontawesome; font-size: 13px; margin-right: 8px;}
.card .main_txt>p span{color:#e52a2a;}
.card .main_txt>.card_target{font-size: 0; margin-bottom: 20px;}
.card .main_txt>.card_target span{display: inline-block; height: 80px; line-height: 80px; background-color: #f5f5f5; width: 268px; font-size: 16px; margin-right: 14px; text-align: center; color:#222;}
.card .main_txt h4{margin-top: 29px;}
.et_con.card .form_con{box-sizing: border-box; padding: 70px 148px;}
.et_con.card .form_con h3{text-align: center; font-size: 37px; color:#222;}
.et_con.card .form_con .require{text-align: right; font-size: 13px; margin-bottom: 13px; color:#222;}
.et_con.card .form_con .require em{color:#e52a2a;}
.et_con.card .form_con input[type=text],
.et_con.card #category-button{width: 200px; border:none;}
.et_con.card .ui-selectmenu-button.ui-button{width: 200px; height: 100%; box-sizing: border-box; padding: 0; border:none; background-color: transparent;}
.et_con.card  .ui-selectmenu-text{height: 100%; line-height: 33px;}
.et_con.card .user_info{width: 100%; max-width: 100%; padding: 0;}
.et_con.card .user_info em{display: inline-block; margin: 0 7px 0 3px;}
.et_con.card .user_info li.txtarea{position: relative; height: 222px;}
.et_con.card .user_info li.txtarea label{line-height: 222px;}
.et_con.card .user_info li.txtarea textarea{position: absolute; left:112px; width: calc(100% - 112px); height: 93%; border: none; resize: none; }
.et_con.card .user_info input[type=file]{display: none;} 
.et_con.card .user_info label[for=file_ck]{margin-left: 100px; cursor: pointer; width: 111px; height: 38px; line-height: 38px; color:#fff; background-color: #222; text-align: center;}
.et_con.card .user_info label[for=file_ck]::before{display: none;}
.et_con.card .noti_txt{font-size: 0; text-align: center; line-height: 26px; color:#888; padding-top: 50px;}
.et_con.card .user_info.info_top li:first-child{border-top: 1px solid #000;}
.et_con.card .user_info.info_top li{position: relative;}
.et_con.card .user_info.info_top li::before{content: ''; position: absolute; left:105px; top:0; width: 1px; height: 100%; background-color: #e5e5e5;}
.et_con.card .agree_box {counter-reset: num; margin-bottom: 44px;}
.et_con.card .agree_box h4{color:#222; margin: 72px 0 15px; font-weight: normal; font-size: 18px; letter-spacing: -0.5px;}
.et_con.card .agree_box .agree_con{font-family: NanumGothic, Arial; height: 170px; overflow-y: scroll; border: 1px solid #e5e5e5; padding: 20px;} 
.et_con.card .agree_box .agree_con>p{font-size: 13px;  margin-bottom: 26px; color:#222; font-weight: bold;}
.et_con.card .agree_box ol>li{font-size: 13px;font-weight: 300; color:#383d41; margin-bottom: 26px;}
.et_con.card .agree_box ol>li p{margin-top: 26px;}
.et_con.card .agree_box ol>li:last-child{margin-bottom: 0;}
.et_con.card .agree_box ol>li::before{content: counter(num)'.'; counter-increment: num 1; margin-right: 2px; font-size: 12px;}
.et_con.card .agree_box input[type=checkbox]{display: none;}
.et_con.card .agree_box label[for=ckbox]{display: inline-block; cursor: pointer; padding-top: 9px; font-size: 15px;}
.et_con.card .agree_box label[for=ckbox] em{display: inline-block; width: 18px; height: 18px; background: url(../images/checkbox-custom.png) no-repeat; background-position: left center; vertical-align: -2px; margin: 0 3px;}
.et_con.card .agree_box input[type=checkbox]:checked + label em {background-position: right center;}
.et_con.card .noti_txt p{margin-bottom: 30px; font-size: 16px;}
.et_con.card .noti_txt span{color:#e52a2a;}
.et_con.card .noti_txt .btn{margin: 0 7px;}
/* ######################## SUB-윤리경영-신고서 확인###################### */
.et_con .form_con{position: relative; border: 1px solid #e5e5e5; padding: 70px 0;}  
.et_con .form_con::after{content: ''; position: absolute; left:50%; transform: translateX(-50%); top:-1px; width: 90px; background-color: #000; height: 1px;}
.et_con .user_info{max-width: 530px; width: 100%; margin: 0 auto; padding: 0 10px; box-sizing: border-box;}
.et_con .user_info label{display: inline-block; font-size: 16px; color:#222; width: 110px;}
.et_con .user_info label::before{content: '*'; color:#e52a2a; margin-right: 2px;}
.et_con .user_info label.norequire::before{display: none;}
.et_con .user_info li{height: 50px; width: 100%; box-sizing: border-box; padding: 7px 0;border-bottom: 1px solid #e5e5e5;}
.et_con .user_info li input[type=text],
.et_con .user_info li input[type=password]{height: 100%; box-sizing: border-box; width: 404px; border:none;}
.et_con .user_info .submitBtn{text-align: center; margin-top: 30px; border-bottom:none; height: auto; padding: 0;}
.et_con .user_info .btn{cursor: pointer;}
/* ######################## SUB-윤리경영-분쟁광물 관리정책###################### */
.content.conflict .inner{padding: 0 15px; box-sizing: border-box;}
.conflict ul>li>h4{position: relative; font-size: 17px; font-weight: bold; color:#222; line-height: 30px; margin-bottom: 8px;}
.conflict ul>li>h4::before{content: '\f00c'; position: absolute; left:-17px; font-family: fontawesome; font-size: 9px; color:#ee2b39;}
.conflict ul>li{margin-bottom: 38px;}
.conflict ul.bom_txt>li:last-child{margin-bottom: 0;}
.conflict ul>li>ul>li{ position: relative; margin-bottom: 8px; margin-left: 10px; }
.conflict ul>li>ul>li::before{content:' \f0da'; position: absolute; font-family: fontawesome; top:2px; left:-10px;  }
.conflict ul>li p{line-height: 24px; color:#888; letter-spacing: -0.5px;}
.conflict ul>li p span{color:#ee2b33;}
.conflict .conflict_img{position: relative; height: 488px;}
.conflict .conflict_img>div{position: absolute; width: 100%; text-align: center; left:50%; top:50%; transform: translate(-50%,-50%);}






