/* 600px */
header .right_menu .lang{display: none;}
header .right_menu .fam{margin-right: 70px;}
.sub_menu_list>div{width: 28%; min-width:80px;}
.sub_pg .tit_info{width: 70%;}
.sub_pg .tit_info p b{font-size: 2vw;}
.content .gall_list li .txt h4{line-height: 22px;}
.content .gallery .video_txt h3{font-size: 20px;}
.stock .stock_head table.tb_main tr.last td{padding: 0 8%;}
.conflict .conflict_img{height: auto;}
.conflict .conflict_img>div{position: static;  transform: none;}
.conflict .conflict_img>div>img{width: 70%; max-width: 70%; margin: 10px 0;}
/* 480px */
@media all and (max-width:480px){
    header{height: 60px;}
    header>.inner{height: 60px;}
    header>.inner{padding: 0;}
    header .left_menu h2{margin: 0 15px;}
    header .left_menu h2>a{height: 60px; line-height: 60px;}
    header .left_menu h2 .mobile{height: 15px; padding-top: 20px;}
    header .right_menu{padding-top: 14px;}
    header .right_menu .fam h2>a{width: 87px; font-size: 10px;}
    header .right_menu .list a{font-size: 9px;}
    .trigger_menu{height: 60px;}
    .banner .swiper-slide .main_con h2{font-size: 8vw;}
    .banner .swiper-slide .main_con p{font-size: 3.5vw;}
    .public .news_tit{font-size: 4vw;}
    .who .left_con .tit_info h3{font-size: 11vw;}
    /* ######################## SUB ###################### */
    .sub_menu_list {min-width: 300px;}
    .sub_menu_list h3>a::after{right: 1vw;}
    .sub_menu_list a, .sub_menu_list .home, .sub_menu_list h3>a{font-size: 2vw; padding: 0 2vw; white-space:nowrap;}
    .sub_pg .fix header{top:-60px;}
    .sub_menu_list{top:60px;}
    .sub_menu_list a,
    .sub_menu_list .home,
    .sub_menu_list h3>a{height: 32px; line-height: 32px; font-size: 2.5vw;}
    .sub_menu_list ul{top:32px;}
    .sub_menu_list a, .sub_menu_list .home, .sub_menu_list h3>a{padding: 0 2vw;}
    .sub_menu_list ul>li>a::after{right: 6%;}
    .content .tabs>li{width: 50%;}
    .content .tabs>li>a{width: 100%;}
}