/* 1220px */
/* ######################## COMMON ###################### */
.tit b{ font-size: 30px;}
.menu_list>li>a{font-size: 15px;}
.tit_info h3{margin-bottom: 20px; font-size: 38px;}
.tit_info p{font-size: 16px;}


/* ######################## SECTION:header ###################### */
.navi_btns{display: none;}
header{height: 80px; line-height: 80px; }
header .left_menu{height: 100%;}
header .left_menu h2 .pc_logo{display: none;}
header .left_menu h2>a{height: 80px; line-height: 80px;}
header .left_menu h2 .mobile{display: block;  width: auto; height: 20px; padding-top: 30px;}
header .left_menu .gnb{position: fixed; z-index: -1; right:-110%; top:0; width: 100%; height:100%; overflow-y: hidden; display: block; background-color: #fff; box-sizing: border-box; padding:78px 15px 0; transition: right ease-in-out 0.3s;}
header .left_menu .gnb.on{right: 0;}
header .left_menu .gnb .inner{width: 100%; padding: 0; margin: 0;}
header .left_menu .gnb>li{border-top: 1px solid #e5e5e5;}
header .left_menu .gnb>li>a{position: relative; color:#222; line-height: 47px; height: 47px; padding: 0 14px; font-size: 17px;}
header .left_menu .gnb>li>a::after{content: '\f078'; position: absolute; font-family: fontawesome; right:19px;font-size: 11px;}
header .left_menu .gnb .depth2{float: none; width: 100%; padding: 0;}
header .left_menu .gnb .depth2>li{width: 100%;}
header .left_menu .gnb .depth2.company>li{width: 100%;}
header .left_menu .gnb .sub_con{position: static; height:auto ; padding: 0 15px; box-sizing: border-box; border: 1px solid #e5e5e5; border-bottom:none;}
header .left_menu .gnb .depth2>li{padding: 0;}
header .left_menu .gnb .depth2>li>a{height: 38px; line-height: 38px; font-size: 14px;}
header .left_menu .gnb .depth2>li>a::after{right: 0;}
header .left_menu .gnb .sub_des{display: none;}
header .left_menu .gnb .depth2>li>a:hover{color:#929292}
header .left_menu .gnb .depth2>li>a:hover::after{color:#929292;}
header .left_menu .gnb .depth2>li>a:hover::before{width: 0;}
header .left_menu .gnb .sub_con{display:none;}
header .right_menu{padding-top: 25px;}
header .right_menu .lang{margin-right: 74px;}
.trigger_menu{height: 80px; width: 70px; line-height: 80px;}
.mobile_lang{display: block;  text-align: center;}
.mobile_lang>a{line-height:14px; display: inline-block; font-size: 14px; color:#a2a2a2; border-right: 1px solid #ddd; padding: 0 7px;}
.mobile_lang>a:last-child{border-right:none;}
.mobile_lang>a.on{color:#222;}
.banner .scroll_down{display: none;}
.banner .controls{bottom:24px}
.banner .controls .loading{left:280px; right: 17px;}
.banner .controls .loading li a{font-size: 15px;}
.banner .controls .loading li a em{display: block; margin-left: 0; font-size: 11px;}
.banner .controls .loading li span{margin-top: 5px;}
.banner .controls .arrows{margin-left: 0;}
.controls .arrows{margin-right: 30px;}

/* active */
/* header .left_menu .gnb>li:hover>a{display: none;} */
header .right_menu.on>div{background-color: #222;}
header .right_menu.on .fam>h2>a,
header .right_menu.on .fam .list>li>a{color:#fff;}
header .right_menu.on .fam .list>li:hover{background-color: #444;}
header .left_menu .gnb>li>a.on::after{content: '\f077';}
.global .right_con .con_inner{padding: 72px 10% 0; box-sizing: border-box;}

.global .tit_info{left:27px; bottom:32px;}
.global .tit_info h3{font-size: 30px; margin-bottom: 20px;}
.global .tit_info p{font-size: 12px;}
section.inform{height: auto;}
/* .inform .info_con{height: 770px;} */
.inform .info_con{height: 730px;}
.inform .des{padding: 0 30px;}
.inform .info_con>li{padding-top: 255px;}
.inform .info_con>li .num{padding: 34px 0 30px; font-size: 37px; line-height: 37px;}
.inform .info_con>li .sub {display: none; padding:47px 0 0;}
.inform .inquiry{padding: 0 30px; bottom: 30px;}
.inform .inquiry .tit_info{left:15px; width: 45%;}
.inform .inquiry .tit_info p{line-height: 20px; font-size: 14px;}
.pub_inner{padding-left: 30px;}
.public .tit_info{padding: 208px 0 68px;}
.public .news_slides .swiper-slide{height: 280px;}
.public .news{padding: 49px 22px 0;}
.public .news_tit{line-height: 25px; font-size: 25px;}
.public .news>p{ font-size: 15px; color:#888; line-height: 20px;}
.public .news span{left:22px; bottom:38px;}
.public .controls{padding-top: 60px;}
.public .controls .inner{padding: 0;}
.who .des{margin: 0 30px;}
.who .left_con .tit_info h3{font-size: 56px; margin-bottom: 26px;} 
.footer{margin: 0 30px;}
.footer .f_top .fnb .sitemap{display: none;}
.footer .f_bom{height: auto; line-height: 26px; padding: 40px 0;}
.footer .f_bom>ul,
.footer .f_bom .copy{float: none;} 
.footer .f_bom>ul li{font-size: 13px;}
.goTopBtn{bottom:15px; opacity: 1; visibility: visible;}
/* ######################## SUB ###################### */
.sub_pg .fix header{top:-80px;}
.visual .sub_bg{height: 620px; margin-top: 60px;}
.sub_menu_list{top:80px;}
.visual .sub_con_list li>a{width: 147px;}
.sub_pg .inner{width: 100%; padding: 0 13px;}
.content{padding: 82px 0 101px;}



/* 1024px */
@media all and (max-width:1024px){
    section.who{height: auto; padding-top: 95px;}
    .who .rgiht_con{position: static;}
    .who .left_con .menu_list{max-width: 100%;}
    .who .left_con .recruit{width: 100%; box-sizing: border-box;}
    .who .rgiht_con img{position: static; }
    .who .rgiht_con{ max-width: none; width: 100%; margin: 59px 0 68px;}
    .who .rgiht_con .pic{max-width:100%; width: 100%; height: auto;}
    .who .rgiht_con .pic img{width: 100%; max-height: 414px;}
    /* ######################## SUB ###################### */
    .visual .sub_bg{height: 490px;}
    .sub_menu_list{padding: 0;}
    .sub .tit_info{top:192px;}
    .visual .sub_con_list{ height: auto; text-align: left; bottom:0;}
    .visual .sub_con_list h3{position: relative; display: block; background-color: rgba(0, 0, 0, 0.425);font-weight: normal; font-size: 16px;}
    .visual .sub_con_list h3::after{content: '\f0dd'; position: absolute; font-family: fontawesome; right: 15px; top:50%; transform: translateY(-50%);}
    .visual .sub_con_list a{display: block; width: 100%; height: 45px; line-height: 45px; font-size: 16px; padding: 0 15px; box-sizing: border-box; }
    .visual .sub_con_list ul{position: absolute; width: 100%; left:0;  background-color:rgba(0, 0, 0, 0.795); display: none;}
    .visual .sub_con_list li{display: block;}
    .visual .sub_con_list li>a{height: 35px; line-height: 35px; width: 100%; color:#fff; box-sizing: border-box; padding: 0 15px;}
    .visual .sub_con_list li.over{background-color: transparent;}
    .visual .sub_con_list li.over>a{color:#ed1c24; font-weight: bold;}
    .visual .sub_con_list li>a::before{content:'\f054';position: absolute;font-family: fontawesome;right: 15px; top:50%; transform: translateY(-50%); font-size: 10px;}
    .visual .sub_con_list h3.on::after{content: '\f0de';}
}
/* 800px */
@media all and (max-width:800px){
    /* ######################## COMMON ###################### */
    .tit_info h3{margin-bottom:0; font-size:30px;}
    .tit_info p b{display: none;}
    .menu_list>li>a{height: 38px; line-height: 38px; font-size: 13px;}
    .inner{padding: 0 20px;}
    .banner .swiper-slide .bg .pc_bg{display:none;}
    .banner .swiper-slide .bg .m_bg{display: block;}
    .banner .swiper-slide .main_con{transform: none; top:auto; bottom:100px;}
    .banner .swiper-slide .main_con h2{font-size: 36px; line-height: 1; padding-bottom:1.5rem;}
    .banner .swiper-slide .main_con b{display: block;}
    .banner .controls{bottom: 60px;}
    .banner .controls .loading{position: static; width: 100%; padding: 0 18px; box-sizing: border-box; margin-top: 28px;}
    .banner .controls .loading p,
    .banner .controls .loading span{display: none;}
    .banner .controls .loading li span,
    .banner .controls .loading li span::before{height: 4px;}
    .section.global{height: auto;}
    .global>div,
    .global .right_con .info>div{float: none; width: 100%; height: auto;}
    .global .left_con .global_slide .bg_con{padding-top: 100%; height: auto;}
    .global .right_con .con_inner{padding: 35px 15px 33px;}
    .global .right_con .driving{width: 100%; position: relative; height:auto; padding-top: 52.52%;} 
    .global .right_con .driving img{position: absolute;}
    .global .tit_info{left:15px;}
    .global .tit_info h3 b{font-size: 24px;}
    .global .menu_list{overflow: hidden;}
    .global .menu_list li{float: left; width: 50%; padding: 0 5px; box-sizing: border-box;}
    .inform .des{padding: 0;}
    .inform>.tit_info{position: static; padding-top: 65px;}
    .inform .info_con{display: block; height: auto; padding-top: 60px;}
    .inform .info_con>li{padding-top:0; border-bottom: 1px solid #eee; overflow: hidden; line-height: 69px; height: 69px; border-right:none}
    .inform .info_con>li:nth-child(1)>span{background-image: url(../images/info_m_ico01.jpg);}
    .inform .info_con>li:nth-child(2)>span{background-image: url(../images/info_m_ico02.jpg);}
    .inform .info_con>li:nth-child(3)>span{background-image: url(../images/info_m_ico03.jpg);}
    .inform .info_con>li:nth-child(4)>span{background-image: url(../images/info_m_ico04.jpg);}
    .inform .info_con>li>span{padding-top: 0; margin-left: 20px; padding-left: 29px; float: left; background-position:left center;}
    .inform .info_con>li .num{padding: 0; float: right; height: 100%; line-height: 65px; font-size: 30px; padding-right: 15px;}
    .inform .inquiry{position: static; padding: 49px 15px; display: block; height: auto;}
    .inform .inquiry>a{display: block; width: 100%;}
    .inform .inquiry>a img{height: 120px;}
    .inform .inquiry .tit_info{width: 45%;}
    .inform .inquiry .tit_info h3{font-size: 20px;margin-bottom: 9px;}
    .inform .inquiry .tit_info p{font-size: 12px;}
    section.public{height: auto;}
    .pub_inner{padding-left: 15px;}
    .public .tit_info{padding: 65px 0 117px;}
    .public .news_slides .swiper-slide{height:192px;}
    .public .news{padding: 32px 15px 0;}
    .public .news_tit{line-height: 17px; font-size: 17px;}
    .public .news>p{ font-size: 13px;}
    .public .news span{left:15px; bottom:14px;}
    .public .controls{padding: 65px 0;}
    .pub_bg{display: none;}
    .who{padding-top: 75px;}
    .who_bg{display: none;}
    .who .des{margin: 0 13px;}
    .who .rgiht_con{margin: 47px 0 50px;}  
    .who .left_con .recruit{font-size: 12px; padding:0 10px;}
    .footer{margin: 0 15px;}
    .footer .f_top{height: 60px; line-height: 60px;}
    .footer .f_top .fnb{float: none; width: 100%;}
    .footer .f_top>div{display: none;}
    .footer .f_top .fnb li{margin-right: 26px; }
    .footer .f_top .fnb li a{font-size: 12px;}
    .footer .f_bom{padding: 20px 0; line-height: 23px;}
    .footer .f_bom>ul li{display: block; font-size: 11px;}
    .footer .f_bom .copy{font-size: 11px;}
     /* ######################## SUB###################### */
     .content .notice li .num,
     .content .notice li .or,
     .content .notice li .tit{width: 100%;}
     .content  #category-button{width: 150px;}

     .visual .sub_bg{height: 358px;}
     .sub_pg .tit_info{top:142px;}
     .sub_pg .tit_info p b{font-size: 11px; line-height: 20px;}
     .sub_pg .tit_info h3 b{font-size: 27px;}
     .visual .sub_con_list a{font-size: 15px;}
     .content{padding: 61px 0 80px;}
     .content .notice .main_head,
     .content .notice .num{display: none;}
     .content .notice li{ position: relative; height: auto; font-size: 12px; padding: 9px 16px; box-sizing: border-box;}
     .content .notice li:nth-child(2){border-top: 1px solid #ddd;}
     .content .notice li>div{line-height: 28px; text-align: left;}
     .content .notice li .tit>a{font-weight:700; font-size: 15px;}
     .content .notice li .date,
     .content .notice li .count{width: auto; display: inline-block;}
     .content .notice li .date{margin-right: 32px;}
     .content .notice li .or::before,
     .content .notice li .date::before,
     .content .notice li .count::before{content: '작성자'; color:#afafaf; margin-right: 5px;} 
}